body {
  margin: 50px;
  font-family: serif;
  font-size: 26.5px;
  padding: .67em 2em 4em 2em;
  color: #666;
}

h1, h2, h3 {
  font-size: 1em;
  color: black;
  font-weight: normal;
}

h1 {
  margin-top: 0;
}

h2 {
  margin-bottom: 0;
}

header {
  /* margin-bottom: 2em; */
}

a {
  color: #666;
}


hr {
  border: 0;
  height: 2px;
  max-width: 5em;
  margin: 2em 0;
  background: #ff0000;
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(25%,#ffff00), color-stop(50%,#00ff00), color-stop(75%,#00ffff), color-stop(100%,#0000ff));
  background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: -moz-linear-gradient(-45deg, #ff0000 0%, #ffff00 25%, #00ff00 50%, #00ffff 75%, #0000ff 100%);
  background: -o-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: -ms-linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
  background: linear-gradient(-45deg, #ff0000 0%,#ffff00 25%,#00ff00 50%,#00ffff 75%,#0000ff 100%);
}
